.field--name-field-file {
  margin-bottom: 2.5rem;
  text-align: center;
  a {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    background: #2980B9;
    color: #F8F9FA;
    border-color: #2980B9;
    border-radius: .5rem;
    transition: all .2s linear;
    &:hover {
      background-color: #E58E26;
      border-color: #E58E26;
      color: #F8F9FA;
      box-shadow: 10px 5px 5px gray;
    }
  }
  svg {
    margin-right: .5rem;
  }
}
