.field--name-field-file {
  margin-bottom: 2.5rem;
  text-align: center;
  a {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    background: #2980B9;
    color: #F8F9FA;
    border-color: #2980B9;
    border-radius: .5rem;
    transition: all .2s linear;
    &:hover {
      color: #f8f9fa;
      background-color: #e58e26;
      border-color: #e58e26;
    }
  }
  svg {
    margin-right: .5rem;
  }
  @keyframes swing
  {
    15%
    {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    30%
    {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50%
    {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    65%
    {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    80%
    {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100%
    {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .swing:hover
  {
    -webkit-animation: swing 0.5s ease;
    animation: swing 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}
