.field--name-comment,
.field--type-entity-reference-revisions,
.field--type-entity-reference {
  .header {
    margin-bottom: 2.5rem;
    h2,
    h3 {
      color: #2980B9;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 700;
    }
  }
}
