.user--view-mode-compact {
  .group-left {
    color: white;
  }
  .group-right {
    width: 50%;
    .field--name-field-experience-year,
    .field--name-field-number-int {
      border: 1px solid white;
      border-radius: 3px;
      padding: 10px;
      margin: 10px;
      color: white;
      transition: all 0.4s;
      .field__item {
        font-size: 1.5rem;
        color: #e58e26;
        transition: all 0.4s;
      }
      &:after {
        content: "";
        width: 1.25rem;
        height: 1.25rem;
      }
      &:hover {
        background-color: #2980B9;
        transition: all 0.4s;
        border: none;
        padding: 20px;
        .field__item {
          font-size: 2rem;
        }
      }
    }
  }
}
