.navbar {
  .navbar-brand {
    display: inline-block;
    font-family: 'Nova Flat', cursive;
    line-height: inherit;
    color: #fff;
  }
  .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      color: #e58e26;
    }
  }
}

.navbar-toggler-icon {

}

@media (min-width: 992px) {
  .navbar {
    .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
      text-transform: uppercase;
    }
  }
}
