.navbar {

  .navbar-brand {
    display: inline-block;
    font-family: 'Nova Flat', cursive;
    line-height: inherit;
    color: #fff;
  }

  .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      color: #e58e26;
    }
  }
}

@media (min-width: 992px) {
  .navbar-expensed {
    padding: 1.5rem 0;
    .navbar-brand {
      font-size: 1.75rem !important;
    }
  }
  .navbar {
    transition: all 0.3s;
    .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s;
      text-transform: uppercase;
    }
  }
}
