.region-projects {
  margin: 0;
  .header {
    color: #e58e26;
    .divider-custom {
      .divider-custom-icon {
        color: #e58e26;
      }
      .divider-custom-line {
        background-color: #e58e26;
        border-color: #e58e26;
      }
    }
  }
}
