/**
 * @file
 * Subtheme specific CSS.
 */

#page-wrapper {
  padding-top: 3.5rem;
}

@media screen and (min-width: 992px) {
  #page-wrapper {
    padding-top: 5.89rem;
  }
}

* {
  font-family: ubuntu, sans-serif;
}

.node--type-landing-page,
.tabs{
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

header .header {
  background-color: #2980b9;
}

.orange-divider {
  width: 6.25rem;
  height: .125rem;
  background: #e58e26;
  margin: 0 auto;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: .25rem;
  background-color: #2980B9;
  border-radius: 1rem;
  border-color: #2980B9;
}
.divider-custom .divider-custom-icon {
  color: #2980b9;
  font-size: 2rem;
}

.background-image {
  background-image: url('https://www.nicolas-barbarisi.com/assets/img/bg.png');
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #6c757d;
  color: #e58e26;
}

.background-image__project {
  padding: 6rem 0;
}

.stroke {
  stroke: currentColor;
}
.fill {
  fill: currentColor;
}
